:root{
    --PaleBlue:hsl(225, 100%, 94%); /*for Background*/
    --BrightBlue:hsl(245, 75%, 52%);/*for button*/
    --VeryPaleBlue:hsl(225, 100%, 98%); /*Annual Plan Background*/
    --DesaturatedBlue:hsl(224, 23%, 55%);
    --DarkBlue:hsl(223, 47%, 23%);
    

}